@charset "utf-8";
/* CSS Document */



/*colored buttons*/

.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}


/*START GREY BUTTON*/
a.buttongrey {
    background: transparent url('../images/button/greyend.png') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px;
	text-shadow:1px 1px 1px #fff;
    height: 30px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.buttongrey span {
    background: transparent url('../images/button/greylarge.png') no-repeat;
    display: block;
    line-height: 23px;
    padding: 2px 0 5px 18px;
}


a.buttongrey:hover {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.buttongrey:hover span {
    background-position: bottom left;
}
/*END GREY BUTTON*/


/*START WHITE BUTTON*/
a.buttonwhite {
    background: transparent url('../images/button/whiteend.png') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px;
	text-shadow:1px 1px 1px #fff;
    height: 30px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.buttonwhite span {
    background: transparent url('../images/button/whitelarge.png') no-repeat;
    display: block;
    line-height: 23px;
    padding: 2px 0 5px 18px;
}


a.buttonwhite:hover {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.buttonwhite:hover span {
    background-position: bottom left;
}
/*END WHITE BUTTON*/

/*START BLUE BUTTON*/
a.buttonblue {
    background: transparent url('../images/button/blueend.png') no-repeat scroll top right;
    color: #f8f8f8;
    display: block;
    float: left;
    font: normal 12px;
	text-shadow:1px 1px 1px #333;
    height: 30px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.buttonblue span {
    background: transparent url('../images/button/bluelarge.png') no-repeat;
    display: block;
    line-height: 23px;
    padding: 2px 0 5px 18px;
}


a.buttonblue:hover {
    background-position: bottom right;
    color: #fff;
    outline: none; /* hide dotted outline in Firefox */
}

a.buttonblue:hover span {
    background-position: bottom left;
}
/*END BLUE BUTTON*/


/*START GREEN BUTTON*/
a.buttongreen {
    background: transparent url('../images/button/greenend.png') no-repeat scroll top right;
    color: #f8f8f8;
    display: block;
    float: left;
    font: normal 12px;
	text-shadow:1px 1px 1px #333;
    height: 30px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.buttongreen span {
    background: transparent url('../images/button/greenlarge.png') no-repeat;
    display: block;
    line-height: 23px;
    padding: 2px 0 5px 18px;
}


a.buttongreen:hover {
    background-position: bottom right;
    color: #fff;
    outline: none; /* hide dotted outline in Firefox */
}

a.buttongreen:hover span {
    background-position: bottom left;
}
/*END GREEN BUTTON*/


/*START GREEN BUTTON*/
a.buttonorange {
    background: transparent url('../images/button/orangeend.png') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px;
	text-shadow:1px 1px 1px #fff;
    height: 30px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.buttonorange span {
    background: transparent url('../images/button/orangelarge.png') no-repeat;
    display: block;
    line-height: 23px;
    padding: 2px 0 5px 18px;
}


a.buttonorange:hover {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.buttonorange:hover span {
    background-position: bottom left;
}
/*END GREEN BUTTON*/


/*START DARKGREY BUTTON*/
a.buttondarkgrey {
    background: transparent url('../images/button/darkgreyend.png') no-repeat scroll top right;
    color: #f8f8f8;
    display: block;
    float: left;
    font: normal 12px;
	text-shadow:1px 1px 1px #333;
    height: 30px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.buttondarkgrey span {
    background: transparent url('../images/button/darkgreylarge.png') no-repeat;
    display: block;
    line-height: 23px;
    padding: 2px 0 5px 18px;
}


a.buttondarkgrey:hover {
    background-position: bottom right;
    color: #fff;
    outline: none; /* hide dotted outline in Firefox */
}

a.buttondarkgrey:hover span {
    background-position: bottom left;
}
/*END DARKGREY BUTTON*/


/*START BLACK BUTTON*/
a.buttonblack {
    background: transparent url('../images/button/blackend.png') no-repeat scroll top right;
    color: #ddd;
    display: block;
    float: left;
    font: normal 12px;
	text-shadow:1px 1px 1px #333;
    height: 30px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.buttonblack span {
    background: transparent url('../images/button/blacklarge.png') no-repeat;
    display: block;
    line-height: 23px;
    padding: 2px 0 5px 18px;
}


a.buttonblack:hover {
    background-position: bottom right;
    color: #fff;
    outline: none; /* hide dotted outline in Firefox */
}

a.buttonblack:hover span {
    background-position: bottom left;
}
/*END BLACK BUTTON*/


/*START PURPLE BUTTON*/
a.buttonpurple {
    background: transparent url('../images/button/purpleend.png') no-repeat scroll top right;
    color: #f8f8f8;
    display: block;
    float: left;
    font: normal 12px;
	text-shadow:1px 1px 1px #333;
    height: 30px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.buttonpurple span {
    background: transparent url('../images/button/purplelarge.png') no-repeat;
    display: block;
    line-height: 23px;
    padding: 2px 0 5px 18px;
}


a.buttonpurple:hover {
    background-position: bottom right;
    color: #fff;
    outline: none; /* hide dotted outline in Firefox */
}

a.buttonpurple:hover span {
    background-position: bottom left;
}
/*END PURPLE BUTTON*/


/*START RED BUTTON*/
a.buttonred {
    background: transparent url('../images/button/redend.png') no-repeat scroll top right;
    color: #f8f8f8;
    display: block;
    float: left;
    font: normal 12px;
	text-shadow:1px 1px 1px #333;
    height: 30px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.buttonred span {
    background: transparent url('../images/button/redlarge.png') no-repeat;
    display: block;
    line-height: 23px;
    padding: 2px 0 5px 18px;
}


a.buttonred:hover {
    background-position: bottom right;
    color: #fff;
    outline: none; /* hide dotted outline in Firefox */
}

a.buttonred:hover span {
    background-position: bottom left;
}
/*END RED BUTTON*/

/*START BRIGHTGREEN BUTTON*/
a.buttonbrightgreen {
    background: transparent url('../images/button/brightgreenend.png') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px;
	text-shadow:1px 1px 1px #fff;
    height: 30px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.buttonbrightgreen span {
    background: transparent url('../images/button/brightgreenlarge.png') no-repeat;
    display: block;
    line-height: 23px;
    padding: 2px 0 5px 18px;
}


a.buttonbrightgreen:hover {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.buttonbrightgreen:hover span {
    background-position: bottom left;
}
/*END BRIGHTGREEN BUTTON*/



/*START BROWN BUTTON*/
a.buttonbrown {
    background: transparent url('../images/button/brownend.png') no-repeat scroll top right;
    color: #f8f8f8;
    display: block;
    float: left;
    font: normal 12px;
	text-shadow:1px 1px 1px #333;
    height: 30px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.buttonbrown span {
    background: transparent url('../images/button/brownlarge.png') no-repeat;
    display: block;
    line-height: 23px;
    padding: 2px 0 5px 18px;
}


a.buttonbrown:hover {
    background-position: bottom right;
    color: #fff;
    outline: none; /* hide dotted outline in Firefox */
}

a.buttonbrown:hover span {
    background-position: bottom left;
}
/*END BROWN BUTTON*/


/*START PINK BUTTON*/
a.buttonpink {
    background: transparent url('../images/button/pinkend.png') no-repeat scroll top right;
    color: #f8f8f8;
    display: block;
    float: left;
    font: normal 12px;
	text-shadow:1px 1px 1px #333;
    height: 30px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.buttonpink span {
    background: transparent url('../images/button/pinklarge.png') no-repeat;
    display: block;
    line-height: 23px;
    padding: 2px 0 5px 18px;
}


a.buttonpink:hover {
    background-position: bottom right;
    color: #fff;
    outline: none; /* hide dotted outline in Firefox */
}

a.buttonpink:hover span {
    background-position: bottom left;
}
/*END PINK BUTTON*/





/*START CONTACT FORM BUTTON*/
.contactbtn {
	background: transparent url('../images/button/contactformbtn.png') no-repeat scroll top right;
	color: #444;
	display: block;
	float: left;
	font: normal 12px;
	text-shadow:1px 1px 1px #fff;
	height: 31px;
	margin-right: 0px;
	padding-right: 4px; /* sliding doors padding */
	text-decoration: none;
	width:96px;
	padding-bottom:3px;
}

.contactbtn:hover {
	cursor:pointer;	
}

/*END CONTACT FORM BUTTON*/













/*START TAG CLOUD STYLES*/
.tags {
	background-image:url(../images/button/tagcircle.png);
	background-position:center left;
	background-repeat:no-repeat;
	line-height: 20px;
	padding: 3px 10px 3px 15px;
	text-shadow:0px 1px 1px #111;
	color: #666;
	width:auto;
	height:20px;
	background-color: #F3F3F3;
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
	text-shadow:none;
	font-size:11px;
	margin-top:10px;
	margin-bottom:5px;
	overflow:hidden;
	display:block;
	float:left;
	margin-right:10px;
	border:1px solid #ddd;
}


.tags:hover {
	background-image:url(../images/button/tagcircle.png);
	background-position:center left;
	background-repeat:no-repeat;
	line-height: 20px;
	padding: 3px 10px 3px 15px;
	text-shadow:0px 1px 1px #111;
	color: #333;
	width:auto;
	height:20px;
	background-color: #f2f2f2;
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
	text-shadow:none;
	font-size:11px;
	margin-top:10px;
	margin-bottom:5px;
	overflow:hidden;
	border:1px solid #999;
	display:block;
	float:left;
	margin-right:10px;

}
/*END TAG CLOUD STYLES*/
