@charset "utf-8";
/* CSS Document */

.bgcarousel {
	float:left;
	width: 960px;
	height: 180px;
	padding-left: 0px;
	margin-bottom: 0px;
	padding-right: 0px;
	position: relative;
	background-image: url(../images/carouselline.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}



.image_carousel {
	position: relative;
	margin-left: 0px;
	float: left;
	width: 960px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.image_carousel img {
	display: block;
	float: left;
	margin-right:10px;
	margin-left:10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
a.prev, a.next {
	width: 35px;
	height: 22px;
	display: block;
	position: absolute;
	top: 139px;
}

a.prev {
	left: 445px;
	background-image:url(../images/button/leftcarouselsprite.png);
}
a.prev:hover {
	background-position:0px -22px;}

a.next {
	right: 445px;
	background-image:url(../images/button/rightcarouselsprite.png);
}
a.next:hover { 
	background-position:0px -22px;}

a.prev span, a.next span {
	display: none;
}



















/*TESTIMONIAL SLIDER*/
/*next button*/
.bx-next {
	position:absolute;
	top:25%;
	right:0px;
	z-index:999;
	width: 30px;
	height: 30px;
	text-indent: -999999px;
	background-image:url(../images/button/righttestimonial.png);
	background-repeat:no-repeat;
	background-position:center center;
}

/*previous button*/
.bx-prev {
	position:absolute;
	top:25%;
	left:0px;
	z-index:999;
	width: 30px;
	height: 30px;
	text-indent: -999999px;
	background-image:url(../images/button/lefttestimonial.png);
	background-repeat:no-repeat;
	background-position:center center;
}
