@charset "utf-8";
/* CSS Document */

.colorstripe {
	width:100%;
	height:5px;
	background-image:url(../images/patterns/colorstripe.png);
	background-repeat:repeat-x;
}


.colorstripefooter {
	width:100%;
	height:5px;
	background-image:url(../images/patterns/colorstripe.png);
	background-repeat:repeat-x;
	float:left;
}



.headings {
	float: left;
	width: 940px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	margin-left: 10px;
	padding-bottom: 10px;
	text-align: center;
	padding-top: 10px;
	height: 60px;
	background-image: url(../images/headingsbg.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.testimonials {
	float: left;
	width: 940px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	margin-left: 10px;
	padding-bottom: 10px;
	text-align: center;
	padding-top: 10px;
	height: 60px;
	/* [disabled]background-image: url(../images/headingsbg.png); */
	background-position: center center;
	background-repeat: no-repeat;
}

.topheadings {
	float: left;
	width: 940px;
	margin-bottom: 0px;
	margin-top: 15px;
	margin-right: 10px;
	margin-left: 10px;
	
}

.uheadings {
	display:block;
	width:100%;
	font-size: 16px;
	color: #CCC;
	font-style: italic;
	font-family: 'Droid Serif', arial, serif;
	text-shadow: 1px 1px 1px #333;
	
}

.uheadingsmini {
	display:block;
	width:100%;
	font-size: 13px;
	color: #aaa;
	font-style: italic;
	font-family: 'Droid Serif', arial, serif;
	text-shadow: none;
	
}

.uheadingsmini a {
	font-size: 13px;
	color: #aaa;
	font-style: italic;
	font-family: 'Droid Serif', arial, serif;
	text-shadow: none;

}



.uspan {
	/* [disabled]display:block; */
	font-size: 13px;
	color: #aaa;
	font-style: italic;
	font-family: 'Droid Serif', arial, serif;
	text-shadow: none;
	float: left;
	/* [disabled]width: 100%; */
	
}

.ucenter {
	font-size:12px;
	display:block;
	width:100%;
	color: #aaa;
	font-style: italic;
}


.secondheading {
	float:left;
	width: 650px;
	
}

.sliderheading {
	font-size:72px;
	margin:50px 0 50px 0;
	font-weight: normal;
	color: #f2f2f2;
	display: block;
}
 

#secondaryindex {
	width: 100%;
	background-repeat: no-repeat;
	height: auto;
	background-position: center top;
	}




	


#header_900 {
	width: 960px;
	height: 215px;
	margin: 0 auto;
	overflow: visible;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	background-image: url(../images/wrapperbg.png);
	background-position: center top;
	background-repeat: no-repeat;
	}
	

#header_900nav {
	width: 960px;
	height: 80px;
	margin: 0 auto;
	overflow: visible;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 15px;
	background-repeat: no-repeat;
	}
	
.slidernav{
	width: 100%;
	height: 75px;
	
	}

.slidernav_900 {
	width: 960px;
	height: 120px;
	margin: 0 auto;

	}
	
.indexbutton {
	float:right;
	width: 220px;
	margin-top: 8px;
	padding-top: 5px;
	margin-right: 0px;
	padding-right: 10px;
	padding-left: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	height: 60px;
}
	
#header_900secondary {
	width: 920px;
	height: 90px;
	margin: 0 auto;
	overflow: visible;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	background-image: url(../images/shadowslider.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}
	
	
#header_900indexstatic {
	width: 960px;
	height: 375px;
	margin: 0 auto;
	overflow: visible;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	background-position: center bottom;
	background-repeat: no-repeat;
	}
		
.statictext {
	float:left;
	width:280px;
	padding:20px;
	color: #f8f8f8;
	text-shadow: 1px 1px 1px #333;
	margin-top: 10px;
	padding-left: 10px;
}

.staticimage {
	float:left;
	width:960px;
	height: 360px;
	background-image: url(../images/media/slides/staticslide.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	margin-top: 15px;
}
	
	
.slidernavi {
	float:left;
	width: 960px;
}
	
#header_900indexorbit {
	width: 960px;
	height: 435px;
	margin: 0 auto;
	overflow: visible;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	background-position: center bottom;
	background-repeat: no-repeat;
	}
		
	
.slideshadow{
	width: 100%;
	background-repeat: no-repeat;
	background-image: url(../images/sliderbg.png);
	background-position: center bottom;
	}
		
#header_900index {
	width: 960px;
	height: 630px;
	margin: 0 auto;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;

	}
	
	
#header_900thumbs {
	width: 960px;
	height: 600px;
	margin: 0 auto;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;

	}
	
	
.headingbanner {
	width:920px;
	padding-left:20px;
	padding-right:20px;
	float:left;
	padding-top: 10px;
	padding-bottom: 0px;
	height: 90px;
	
}

#header_900index_second {
	width: 960px;
	height: 80px;
	margin: 0 auto;
	overflow: hidden;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	}
	
#secondary_900 {
	width: 960px;
	height: 40px;
	margin: 0 auto;
	overflow: visible;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 15px;
	background-position: center bottom;
	background-repeat: no-repeat;
	padding-bottom: 15px;
	}
	
.navbar {
	float: left;
	width: 700px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-repeat: no-repeat;
	background-position: center top;
	height: 80px;
	font-style:normal;
	z-index: 999;
	padding-right: 0px;
	padding-left: 0px;
	text-shadow: 1px 1px 0px #fff;
}
	
.logo {
	float: left;
	width: 250px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-repeat: no-repeat;
	height: 80px;
	padding-right: 0px;
	padding-left: 0px;
	-webkit-transition: 0.2s ease-in;
	-moz-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
	margin-left:10px;
}
	
.logo:hover {
	margin-left:10px;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	-webkit-transition: 0.2s ease-in; 
	-moz-transition: 0.2s ease-in; 
	-o-transition: 0.2s ease-in; 
	transition: 0.2s ease-in;
	
}
	

.sliderbg {
	float: left;
	width: 960px;
	height: 330px;
	overflow: hidden;
	margin-top: 50px;
	
}
	

	
#headingfull {
	width: 100%;
	border-bottom: 1px solid #ddd;
	background-color: #f2f2f2;
	height: 100px;
	background-image: url(../images/patterns/linen.png);
	background-repeat: repeat;
	
	}
	
#headingfull_900 {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	/* [disabled]background-image: url(../images/bottomshadowdown.png); */
	background-repeat: no-repeat;
	background-position: center top;
	height: auto;
	}

	
