@charset "utf-8";
/* CSS Document */



/*General Mosaic Styles*/
.mosaic-block-blog {
	float:left;
	position:relative;
	overflow:hidden;
	width:680px;
	height:260px;
	margin:0px;
	background:#ddd url(../images/progress.png) no-repeat center center;
}

.mosaic-block-third {
	float:left;
	position:relative;
	overflow:hidden;
	width:300px;
	height:160px;
	margin:0px;
	background:#ddd url(../images/progress.png) no-repeat center center;
}

.mosaic-block-half {
	float:left;
	position:relative;
	overflow:hidden;
	width:340px;
	height:160px;
	margin:0px;
	background:#ddd url(../images/progress.png) no-repeat center center;
}


.mosaic-block-fourth {
	float:left;
	position:relative;
	overflow:hidden;
	width:220px;
	height:160px;
	margin:0px;
	background:#ddd url(../images/progress.png) no-repeat center center;
}

.mosaic-backdrop {
	position:absolute;
	top:0;
	height:100%;
	width:100%;
	background:#ddd;
}
	
.mosaic-overlay {
		display:none;
		z-index:5;
		position:absolute;
		width:100%;
		height:100%;
		background:#111;
}
	
/*** Custom Animation Styles (You can remove/add any styles below) ***/
.magnify .mosaic-overlay {
		background:url(../images/hover-magnify.png) no-repeat right top;
		opacity:0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
		filter:alpha(opacity=00);
		display:none;
}
		
.info .mosaic-overlay {
		background:url(../images/hover-big.png) no-repeat right top;
		opacity:0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
		filter:alpha(opacity=00);
		display:none;
}


























img{
	border:none;
}

.imgstyle {
	float:left;
	border: 1px solid #ccc;
	padding:4px;
	background-color:#E8E8E8;
	
	-moz-box-shadow: 0 0 2px #ddd;
	-webkit-box-shadow: 0 0 2px#ddd;
	box-shadow: 0 0 2px #ddd;
}


.img_left{
	float:left;
	display:block;
	margin:0px 10px 0px 0px;
	
}


.img_left_blog{
	float:left;
	display:block;
	margin:0px 15px 5px 0px;
	border:3px solid;
	border-color: #C5C5C5;

}


.img_left_blog:hover{
	float:left;
	display:block;
	margin:0px 15px 5px 0px;
	border:3px solid;
	border-color: #999;
	
}

.img_postimg{
	float:left;
	display:block;
	border:3px solid;
	border-color: #C5C5C5;

}


.img_postimg:hover {
	float:left;
	display:block;
	border:3px solid;
	border-color: #999;
	
}

.img_left_border{
	float:left;
	display:block;
	margin:5px 15px 5px 0px;
	border:3px solid;
	border-color: #999;
	



}
.img_left_border:hover{
	float:left;
	display:block;
	margin:5px 15px 5px 0px;
	border:3px solid;
	border-color: #333;
}


.img_social{
	float:left;
	display:block;
	margin:14px 10px 0px 0px;
	
}

.img_social:hover{
	float:left;
	display:block;
	margin:14px 10px 0px 0px;
}

.blog_img{
	float:left;
	display:block;
	margin:0px 0px 0px 0px;
	border: 1px solid #f8f8f8;
	
	
}


.stitch {
	width:100%;
	height:5px;
	background-image:url(../images/patterns/stitch.png);
	background-repeat:repeat-x;
	background-position: center center;
}

.stitchleft {
	width:100%;
	height:5px;
	background-image:url(../images/patterns/stitch.png);
	background-repeat:repeat-x;
	background-position: center center;
	float: left;
}


.blog_img:hover{
	float:left;
	display:block;
	margin:0px 0px 0px 0px;
	border: 1px solid #f8f8f8;
	
}



.img_left_banner{
	float:left;
	display:block;
	margin:15px 10px 0px 0px;
	
}

.imgleft100{
	float:left;
	display:block;
	margin:0px 10px 10px 0px;
	
	
}
	
.postnone {
	font-size:10px;
	font-weight:normal;
	display: block;
	float: left;
	width: 120px;
	padding: 5px;
	padding-left: 15px;
	
	
}	



.imgleft100border{
	float:left;
	border: 1px solid #ccc;
	padding:5px;
	background-color:#E8E8E8;

}
	

.imgleft100border:hover{
	float:left;
	border: 1px solid #444;
	padding:5px;
	background-color:#E8E8E8;

}
	
.img_left_bordertut {
	float:left;
	display:block;
	margin:5px 15px 5px 0px;
	border:3px solid;
	border-color: #C5C5C5;


}


.img_left_bordertut:hover{
	float:left;
	display:block;
	margin:5px 15px 5px 0px;
	border:3px solid;
	border-color: #999;
	margin-right:25px;
	
	
}


.imginside {
	float:left;
	height:auto;
	display: block;
	
}



 .imghovershell{
	float:left;
	border: 1px solid #ccc;
	padding:4px;
	background-color:#E8E8E8;

}
	
.imghovershell:hover{
	float:left;
	border: 1px solid #444;
	padding:4px;
	background-color:#E8E8E8;

}
	
 .imghover{
	float:left;
	border: 1px solid #ccc;
	padding:4px;
	background-color:#E8E8E8;
	
	-moz-box-shadow: 0 0 2px #ddd;
	-webkit-box-shadow: 0 0 2px#ddd;
	box-shadow: 0 0 2px #ddd;

}

.imghovermargin {
	float:left;
	border: 1px solid #ccc;
	padding:4px;
	background-color:#E8E8E8;
	-moz-box-shadow: 0 0 2px #ddd;
	-webkit-box-shadow: 0 0 2px#ddd;
	box-shadow: 0 0 2px #ddd;
	margin-right:15px;
	margin-top:3px;
}


.imghovermargin:hover {
	float:left;
	border: 1px solid #888;
	padding:4px;
	background-color:#E8E8E8;
	-moz-box-shadow: 0 0 2px #ddd;
	-webkit-box-shadow: 0 0 2px#ddd;
	box-shadow: 0 0 2px #ddd;
	margin-right:15px;
	margin-top:3px;
	

}

.imgposted{
	float:left;
	border: 1px solid #ccc;
	padding:4px;
	background-color:#E8E8E8;
	-moz-box-shadow: 0 0 2px #ddd;
	-webkit-box-shadow: 0 0 2px#ddd;
	box-shadow: 0 0 2px #ddd;


}
	
	
.imghover:hover{
	float:left;
	border: 1px solid #ccc;
	padding:4px;
	background-color:#E8E8E8;
}
 
