* { padding: 0px; margin: 0px; }

@font-face {
    font-family: 'Addison-Regular';
    src: url('addison-regular.eot');
    src: url('addison-regular.eot?#iefix') format('embedded-opentype'),
         url('addison-regular.woff') format('woff'),
         url('addison-regular.ttf') format('truetype'),
         url('addison-regular.svg#addison-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Addison-Regular';
  letter-spacing: .15em;
}

h3 {
  border-bottom: 1px solid black;
  padding-bottom: .14em;
  margin-bottom: .5em;
  margin-top: 1em;
  font-size: 1.6em;
}

h4 {
  font-size: 1.3em;
  border-bottom: none;
}

h1 { font-weight: normal; border: none;}

body {
	text-align: center; 
	font-family: verdana, georgia, arial;
  font-size: 10px;
  background-image: url('./graphics/whitey.png');
  color: #333;
}

ul {
  margin: 0 0 15px 17px;
}

li {
  margin: 0 0 .5em 0;
}

.title {
  float: left;
  font-size: 1em;
}

.location {
  float: right;
  font-size: 1em;
}

#container {
	text-align: left;
	width: 676px;
	margin: 0 auto;
	padding: 5px 40px;
  background: #f9f9f9;
  border-right: 1px solid #666666;
  border-left: 1px solid #666666;
}

.clear {
    clear: both;
}

header {
    height: 130px;
    border-bottom: 1px solid black;
    font-size: 2.2em;
    margin-bottom: 10px;
    text-align: center;
}

#contact {
    font-size: .5em;
    line-height: 1.1em;
    color: #666;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#sidebar { 
    padding: 0 20px 0 0;
    width: 170px;
    float: left;
    font-size: 1.3em;
    line-height: 1.35em;
}

#content {
    padding: 0 0 0 40px;
    width: 445px;
    float: left;
    border-left: 1px solid black;
    font-size: 1.4em;
    line-height: 1.4em;
}

#footer {
  border-top: 1px solid black;
  margin: 20px 0;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #666666;
}

p {
  font-size: 1em;
}

p strong {
  font-size: .9em;
}

